# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

## Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas
4. Matplotlib

| Data Science Tools |
| -------------| 
| RStudio | 
| Apache Spark | 
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
3*4+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60

hours = 220 // 60
print(hours)

3

**Objectives:**

- List popular languages for Data Science.
  - Python
  - R
  - SQL
  - Java

## Author

Yeung Lai